:root {
  --mango: #ffbe0bff;
  --orange-pantone: #fb5607ff;
  --winter-sky: #ff006eff;
  --blue-violet: #8338ecff;
  --azure: #3a86ffff;

  --fs-xl: 4rem;
  --fs-lg: 3rem;
  --fs-md: 2rem;
  --fs-sm: 1rem;
  --fs-xs: .5rem;
}

html {
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
  font-weight: bold;

  font-size: 16px;
  line-height: 1.5;
}
